$grass-bug: #70c8a0;
$fire: #e98477;
$water: #74ccf4;
$electric: #F8EC99;
$normal-fairy: #d3d3d3;
$poison: #a696cf;
$ground-fighting: #d3b299;
$card-border: #ffcb05;
$image-border: #bf9b30;

:export {
$grass-bug: #70c8a0;
$fire: #e98477;
$water: #74ccf4;
$electric: #F8EC99;
$normal-fairy: #d3d3d3;
$poison: #a696cf;
$ground-fighting: #d3b299;
$card-border: #ffcb05;
$image-border: #bf9b30;
}